<div *ngIf="loadingSpinner.storage" class="p-text-center">	
	<h2>Betöltés...</h2>
	<p-progressSpinner></p-progressSpinner>
</div>

<h1 *ngIf="!loadingSpinner.storage && storage">Raktár: {{ storage.name }}</h1>

<div class="p-grid" *ngIf="!loadingSpinner.storage && storage">
	<div class="p-col-12 p-md-6">
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple (click)="showEditDialog()" label="Szerkesztés" icon="fas fa-pen" class="p-button-warning p-mr-2"></button>
					<button pButton pRipple (click)="showDeleteStorageDialog()" label="Törlés" icon="fas fa-trash-alt" class="p-button-danger p-mr-2"></button>
					<a pButton pRipple routerLink="/addresses/{{storage.address.id}}" label="Cím megtekintése" icon="fas fa-map-marker-alt" class="p-button-primary p-mr-2"></a>
				</ng-template>
			</p-toolbar>		
			<p-table [value]="storageData">
				<ng-template pTemplate="header">
					<tr>
						<th>Adat</th>
						<th>Érték</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-data>
					<tr>
						<td>{{data.dataName}}</td>
						<td>{{data.dataValue}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
	<div class="p-col-12 p-md-6">
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple (click)="showProductDialog()" label="Új termék" icon="fas fa-plus" class="p-button-success p-mr-2"></button>
				</ng-template>
			</p-toolbar>			
			
			<p-table [value]="products" dataKey="name">
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem"></th>
						<th pSortableColumn="id">Azonosító <p-sortIcon field="id"></p-sortIcon></th>
						<th pSortableColumn="name">Név <p-sortIcon field="name"></p-sortIcon></th>
						<th pSortableColumn="amount">Mennyiség <p-sortIcon field="amount"></p-sortIcon></th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product let-expanded="expanded">
					<tr>
						<td>
							<button *ngIf="product.data.length > 0" type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"></button>
							<button *ngIf="product.data.length == 0" type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain" [icon]="'fas fa-times'"></button>
						</td>
						<td>{{product.id}}</td>
						<td>{{product.name}}</td>
						<td>{{product.amount}}</td>
						<td>
							<a pButton pRipple icon="fas fa-info" routerLink="/products/{{product.id}}" class="p-button-rounded p-button-primary p-mr-2"></a>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="rowexpansion" let-product>
					<tr>
						<td colspan="4">
							<div class="p-p-3">
								<p-fieldset legend="Jellemző" [toggleable]="true" [collapsed]="true" *ngFor="let data of product.data">
									<p>{{data.data}}</p>
								</p-fieldset>
							</div>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>

<p-dialog [(visible)]="dialogs.edit" [style]="{width: '450px'}" header="Raktár szerkesztése" [modal]="true" styleClass="p-fluid" [resizable]="false" [contentStyle]="{height: '450px'}" (onHide)="hideEditDialog()">
    <ng-template pTemplate="content">
        <div class="p-field">
			<label for="name">Raktár név</label>
			<input id="name" [(ngModel)]="storage.name" type="text" pInputText> 
			<small class="p-error" *ngIf="!storage.name">A mező kitöltése kötelező</small>
        </div>

		<div class="p-field">
            <label for="address">Cím</label>
            <p-dropdown [options]="addresses" [(ngModel)]="storage.addressId" optionLabel="shortName" optionValue="id" emptyFilterMessage="Nincs rögzített cím" [filter]="true" filterBy="shortName" [showClear]="true" placeholder="Válaszd ki a címet" inputId="address" scrollHeight="150px">
			</p-dropdown>
			<small class="p-error" *ngIf="!storage.addressId">A cím hozzárendelése kötelező</small>
        </div>
        
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Mégse" icon="fa fa-times" class="p-button-danger" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Mentés" icon="fa fa-check" class="p-button-success" (click)="editStorage()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="dialogs.product" [style]="{width: '450px'}" header="Termék hozzáadása" [modal]="true" styleClass="p-fluid" [resizable]="false" [contentStyle]="{height: '450px'}" [closable]="false">
    <ng-template pTemplate="content">
        <div class="p-field">
			<label for="name">Termék név</label>
			<input id="name" [(ngModel)]="product.name" type="text" pInputText> 
			<small class="p-error" *ngIf="!product.name">A mező kitöltése kötelező</small>
        </div>

		<div class="p-field">
			<label for="amount">Termék mennyisége</label>
			<input id="amount" [(ngModel)]="product.amount" type="number" pInputText> 
			<small class="p-error" *ngIf="!product.amount">A mező kitöltése kötelező</small>
        </div>

		<div class="p-field">
			<label for="amount">Termék vonalkód</label>
			<input id="amount" [(ngModel)]="product.barcode" type="text" pInputText> 
			<small class="p-error" *ngIf="!product.barcode">A mező kitöltése kötelező</small>
        </div>
        
		<h3>Termék jellemzői</h3>
		<p-toolbar styleClass="p-mb-4">
			<ng-template pTemplate="left">
				<button pButton pRipple (click)="addProductData()" label="Hozzáadás" icon="fas fa-plus" class="p-button-success p-mr-2"></button>
			</ng-template>
		</p-toolbar>

		<div class="p-field" *ngFor="let data of product.data; index as i">
			<label for="desc">Termék jellemző {{i + 1}} </label>
			<div class="p-inputgroup">
				<input id="desc" [(ngModel)]="product.data[i].data" type="text" pInputText type="text">     
				<button type="button" pButton pRipple (click)="deleteProductData(i)" label="Törlés" class="p-button-danger"></button>
			</div>
			<small class="p-error" *ngIf="!product.data[i].data">A mező kitöltése kötelező</small>    
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Mégse" icon="fa fa-times" class="p-button-danger" (click)="hideProductDialog()"></button>
        <button pButton pRipple label="Mentés" icon="fa fa-check" class="p-button-success" (click)="addProduct()"></button>
    </ng-template>
</p-dialog>