<h1>Raktárak listája</h1>
<div class="card">
	<div class="p-grid p-jc-center">
		<div class="p-col-12 p-md-12">
			<p-toolbar styleClass="p-mb-4" *ngIf="storages.length > 0">
				<ng-template pTemplate="left">
					<button pButton pRipple label="Új raktár" icon="fa fa-plus" class="p-button-success p-mr-2"
						(click)="showAddStorageDialog()"></button>
				</ng-template>
			</p-toolbar>

			<p-table *ngIf="storages.length > 0" #dt [value]="storages" [rows]="10" [paginator]="true" [globalFilterFields]="['id','name']"
				[(selection)]="selectedStorages" [rowHover]="true" dataKey="id"
				currentPageReportTemplate="Eredmények {first}-tól/től {last}-ig a(z) {totalRecords} találatból"
				[showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-ai-center p-jc-between">
						<h5 class="p-m-0">Raktárak</h5>
						<span class="p-input-icon-left">
							<i class="fa fa-search"></i>
							<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
								placeholder="Keresés..." />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th>
						<th pSortableColumn="id">Azonosító <p-sortIcon field="id"></p-sortIcon>
						</th>
						<th pSortableColumn="name">Név <p-sortIcon field="name"></p-sortIcon>
						</th>
						<th pSortableColumn="name">Termékek száma <p-sortIcon field="name"></p-sortIcon>
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-storage>
					<tr>
						<td>
							<p-tableCheckbox [value]="storage"></p-tableCheckbox>
						</td>
						<td>{{storage.id}}</td>
						<td>{{storage.name}}</td>
						<td>{{storage.products.length}}</td>
						<td>
							
							<a pButton pRipple icon="fa fa-info" routerLink="/storages/{{storage.id}}"
								class="p-button-rounded p-button-primary p-mr-2"></a>
							<button pButton pRipple icon="fa fa-trash-alt"
								class="p-button-rounded p-button-danger" (click)="showDeleteStorageDialog(storage)"></button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						Összesen {{storages ? storages.length : 0 }} raktár
					</div>
				</ng-template>
			</p-table>

			<div *ngIf="loadingSpinner.storages" class="p-text-center">
				<h2>Betöltés...</h2>
				<p-progressSpinner></p-progressSpinner>
			</div>
			

			<h3 *ngIf="storages.length == 0 && !loadingSpinner.storages" class="p-text-center">Jelenleg nem található egy raktár se az adatbázisban</h3>
		</div>
	</div>
</div>

<p-dialog [(visible)]="storageDialog" [style]="{width: '450px'}" header="Raktár létrehozása" [modal]="true" styleClass="p-fluid" [resizable]="false" [contentStyle]="{height: '450px'}" [closable]="false">
    <ng-template pTemplate="content">
        <div class="p-field">
			<label for="name">Raktár név</label>
			<input id="name" [(ngModel)]="storage.name" type="text" pInputText> 
			<small class="p-error" *ngIf="!storage.name">A mező kitöltése kötelező</small>
        </div>

		<div class="p-field">
            <label for="address">Cím</label>
            <p-dropdown [options]="addresses" [(ngModel)]="storage.addressId" optionLabel="addressString" optionValue="id" [filter]="true" filterBy="addressString" [showClear]="true" placeholder="Válaszd ki a címet" inputId="address" scrollHeight="150px">
			</p-dropdown>
			<small class="p-error" *ngIf="!storage.addressId">A cím hozzárendelése kötelező</small>
        </div>
        
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Mégse" icon="fa fa-times" class="p-button-danger" (click)="hideAddStorageDialog()"></button>
        <button pButton pRipple label="Mentés" icon="fa fa-check" class="p-button-success" (click)="saveStorage()"></button>
    </ng-template>
</p-dialog>