<h1 class="p-text-center">WareStore v0.1</h1>
<p class="p-text-center">Készítette: Stancz Máté Levente, 2021. 04. 05.</p>

<div class="p-grid p-jc-around">
    <div class="p-col-12 p-md-4">
        <div class="p-m-3">
            <p-card header="Simple Card">
                <ng-template pTemplate="header">
                    <img alt="Card" height="200" src="https://via.placeholder.com/400x200">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
            </p-card>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-m-3">
            <p-card header="Simple Card">
                <ng-template pTemplate="header">
                    <img alt="Card" height="200" src="https://via.placeholder.com/400x200">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
            </p-card>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-m-3">
            <p-card header="Simple Card">
                <ng-template pTemplate="header">
                    <img alt="Card" height="200" src="https://via.placeholder.com/400x200">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
            </p-card>
        </div>
    </div>
</div>