<div class="p-grid p-jc-between">
    <div class="p-col-12 p-md-4" *ngFor="let a of storages">
        <div class="p-m-3">
            <p-card [header]="a.name">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!</p>
            </p-card>
        </div>
    </div>
</div>