<h1>Főoldal</h1>

<div *ngIf="loadHome" class="p-text-center">
    <h2>Betöltés...</h2>
    <p-progressSpinner></p-progressSpinner>
</div>

<div class="p-grid p-jc-between" *ngIf="stores && storages">
    <div class="p-col-12 p-md-6">
        <div class="p-m-3">
            <p-card header="Raktárak">
                <h3>Jelenleg {{ storages.length }} szerepel az adatbázisban</h3>
                
                <ul>
                    <li>Összes termék: {{ storageProductCount }}</li>
                </ul>
            </p-card>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <div class="p-m-3">
            <p-card header="Áruházak">
                <h3>Jelenleg {{ stores.length }} szerepel az adatbázisban</h3>
                <ul>
                    <li>Összes termék: {{ storeProductCount }}</li>
                </ul>
            </p-card>
        </div>
    </div>
</div>